<div class="row" ng-hide="patient._id">
  <div class="col-md-6">
      <h2>Register Patient</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>First Name*</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.firstName" required> 
    </p>
    <p>
      <label>Last Name*</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.lastName" required> 
    </p>
    <p>
      <label>Email*</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.email" required> 
    </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.phone.mobile"> 
    </p>
    <p>
      <label>Phone (Home)</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.phone.work"> 
    </p>
    <p>
      <label>Address</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.address"> 
    </p>
    <p>
      <label>Doctor Assigned</label> 
      <input id="name" class="form-control" type="text" ng-model="patient.doctor"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="savePatient(patient)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>